@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #454545;
    background-color: #FFFFFF;
    font-family: 'Karla', sans-serif;
    font-size: 22px;
    line-height: 150%;
}

.background{
    height: 425px;
    background-image: url(/assets/Festival_Background.jpg);
    background-size: cover;
    margin-bottom: 50px;
}
